:root {
    --header-color: #66694d;
    --background-color: #d5d7c4;
    --link-color: #bac895;
    --head-font: 'Righteous', cursive;
/* This sets the colors and fonts for the page. */
}

html {
    scroll-behavior: smooth;
    /* This creates a smooth scroll for the links */
}

body {
    background: var(--background-color);
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    /* flex-direction: column aligns the page elements vertically */
}

header {
    background: var(--header-color);
    width: 100%;
    display: flex;
    flex-direction: row; 
    /* This spreads the elements horizontally */
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
}

main {
    margin: 100px 7vw;
}

h1 {
    padding: 50px 0px 10px 10px;
    color: var(--link-color);
    font-family: var(--head-font);
}

h2 {
    font-size: 150%;
    font-family: var(--head-font);
}
h3 {
    font-family: var(--head-font);
    font-size: 125%;
}
p {
    font-size: 125%;
}
nav {
    color: black;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--link-color);
    text-align: center;
    padding: 10px 30px;
    font-family: var(--head-font);
}
footer {
    background: var(--header-color);
    height: 100px;
    padding: 10px;
}

footer p {
   text-align: center;
   padding: 20px;
   color: var(--link-color);
   
}
.container {
    background-color: #ffffff;
    border-radius: 50px 10px;
    padding: 20px;
}
#geipel {
    color: #8da54f;
}    
.section-header {
    position: absolute;
    margin-top: -50px;
    color: var(--header-color);
}
#works {
    margin: 300px 0px;
    display: flex;
    flex-direction: column;
}

.nav ul {
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    color: var(--link-color);
    }

    a {
    color: var(--link-color);
    text-decoration: none;
}

.nav ul li {
    padding: 0 10px;
    display: table-cell;
    text-align: center;
}

#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.heroimagecontainer img {
    border-radius: 50%;
    margin: 10px;
}
.intro-text {
    margin: 10px;
}

.project-big {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.project-big img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
}
#project-small-block {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2em;
    margin-top: 10px;
}
.project-small-card {
    height: auto;
    width: 25%;
    padding: 10px;
    justify-content: space-around;
}

#bigprojecttitle {
    background: #8da54f;
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;
    color: black;
    width: 100px;
    padding: 2px;
}
.project-small-card img {
    object-fit: cover;
    width: 85%;
    height: 415px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 10px;
}

.project-title-card {
    position: relative;
    margin-top: -50px;
    background: #8da54f;
    width: 100px;
    color: black;
    padding: 2px;
}

#bigprojecttitle:hover, .project-title-card:hover {
    background-color: var(--header-color);
    color: var(--background-color);
    width: 150px;
    text-align: center;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .project-small-card {
        width: 50%;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #intro {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    #intro {
        flex-direction: column;
    }
    .project-small-card {
        width: 100%
        
    }
    nav, header {
        flex-direction: column;
    }
    #project-small-block {
        padding-left: 0em;

    }
    .project-big img {
        height: 220px;
    }
    .project-small-card img {
        width: 100%;
        height: 190px;
    }
}