body {
    background: rgb(180, 189, 179);
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

header {
    background: rgb(117, 178, 117);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    /* padding: 10px; */
}

main {
    margin: 100px 7vw;
}

h1 {
    padding: 50px 0px 10px 10px;
    /* text-align: left; */
}

nav {
    /* background-color: lime; */
    color: black;
    display: flex;
    justify-content: space-between;
    /* gap: 80px; */

}

nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px 30px;
}
footer {
    background: rgb(40, 80, 10);
    height: 85px;
    padding: 10px;
}

footer p {
   text-align: center;
   padding: 20px;
}

#works {
    padding: 300px 0px;
    display: flex;
    flex-direction: column;
}
.header-links {
    /* gap: 6em; */
}

.nav ul {
    list-style: none;
    margin: 0%;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.nav ul li {
    padding: 0 10px;
    display: table-cell;
    text-align: center;
}

#intro {
    /* padding: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.heroimagecontainer img {
    border-radius: 50%;
    margin: 10px;
}
.intro-text {
    margin: 10px;
}
.works {
    /* display: flex;
    align-items: stretch;
    flex-wrap: wrap; */
}
/* .deepdive {
    padding: 100px;
} */

.work-cards {
    /* display: flex;
    flex-direction: row; */
}





.project-big {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    /* overflow: hidden; */
    /* margin: 10px; */
}
.project-big img {
    /* display: block; */
    object-fit: cover;
    width: 100%;
    height: 300px;
    /* background: red; */
    padding: 10px;
    /* margin: auto; */
    /* object-position: 25% 25%; */
}
#project-small-block {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2em;
    margin-top: 10px;
    /* align-items: stretch; */
    /* width: 26%; */
}
.project-small-card {
    height: auto;
    width: 25%;
    padding: 10px;
    justify-content: space-around;
    /* display: flex;
    flex-direction: column;
    position: absolute; */
}

#bigprojecttitle {
    background: #f44336;
    position: absolute;
    margin-top: 253px;
    margin-left: 10px;
    /* margin: 253px, 0, 0, 10px; */
    width: 130px;
}
.project-small-card img {
    object-fit: cover;
    width: 85%;
    height: 415px;
    overflow: hidden;
    margin-bottom: 10px;
}

.project-title-card {
    position: relative;
    margin-top: -40px;
    background: #f44336;
    width: 130px;
}

@media (max-width: 768px) {
    .project-small-card {
        width: 50%;
    }
    /* .project-big {
        height: 45vw;
    } */
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    #intro {
        flex-direction: column;
    }
    .project-small-card {
        width: 100%
        
    }
    nav, header {
        flex-direction: column;
    }
    #project-small-block {
        padding-left: 0em;

    }
    .project-big img {
        height: 220px;
    }
    .project-small-card img {
        width: 100%;
        height: 190px;
    }
    #bigprojecttitle {
        margin-top: 184px;
    }
    /* .project-big {
        height: 55vw;
    } */

}